.header {
    border:1px solid red;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;    
}

.icon-btn {
    display: flex;
    background-color: #363743;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 20%;
    margin: 0.5em;
}