:root {
  --primary-bg-color: #2a2c35;
  --secondary-bg-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #2a2c35;
  --background-gray: #363743;
  --blue-color: #166ac4;
}

.App {
  text-align: center;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .app-body {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
  }
}
